<div class="row">
    <div class="col-sm">
        <div class="form-group">
            <label for="cep" class="col-form-label">CEP</label>
            <input class="form-control" type="text" name="cep" id="cep" [(ngModel)]="endereco.cep" (blur)="buscarPorCep()">
        </div>
    </div>
    <div class="col-sm">
        <div class="form-group">
            <label for="logradouro" class="col-form-label">Logradouro</label>
            <input class="form-control" type="text" name="logradouro" id="logradouro" [(ngModel)]="endereco.logradouro">
        </div>
    </div>
    <div class="col-sm">
        <div class="form-group">
            <label for="complemento" class="col-form-label">Complemento</label>
            <input class="form-control" type="text" name="complemento" id="complemento" [(ngModel)]="endereco.complemento">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <div class="form-group">
            <label for="bairro" class="col-form-label">Cidade</label>
            <input class="form-control" type="text" name="bairro" id="bairro" [(ngModel)]="endereco.bairro">
        </div>
    </div>
    <div class="col-sm">
        <div class="form-group">
            <label for="logradouro" class="col-form-label">Estado</label>
            <input class="form-control" type="text" name="localidade" id="localidade" [(ngModel)]="endereco.localidade">
        </div>
    </div>
    <div class="col-sm">
        <div class="form-group">
            <label for="uf" class="col-form-label">UF</label>
            <input class="form-control" type="text" name="uf" id="uf" [(ngModel)]="endereco.uf">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <div class="form-group">
            <label for="referencia" class="col-form-label">Referência</label>
            <input class="form-control" type="text" name="referencia" id="referencia" [(ngModel)]="endereco.referencia">
        </div>
    </div>
</div>
<div class="row" *ngIf="vendedor">
    <div class="col-sm">
        <label for="box" class="col-form-label">box</label>
        <input class="form-control" type="text" name="box" id="box" [(ngModel)]="endereco.box">
    </div>
    <div class="col-sm">
        <label for="andar" class="col-form-label">Andar</label>
        <input class="form-control" type="text" name="andar" id="andar" [(ngModel)]="endereco.andar">
    </div>
    <div class="col-sm">
        <label for="sala" class="col-form-label">Sala</label>
        <input class="form-control" type="text" name="sala" id="sala" [(ngModel)]="endereco.sala">
    </div>

</div>