<div class="container">
    <div *ngIf="mensagens">
        <app-alerta [mensagens]="mensagens"></app-alerta>
    </div>

    <div class="row">
        <div class="col-sm">
            <form (submit)="salvar()">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="categoria" class="col-form-label">Categoria</label>
                            <input class="form-control" type="text" name="categoria" id="categoria" [(ngModel)]="nomeCategoria"
                                (click)="categoriaSelecionada = undefined">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <label for="categoria" class="col-form-label">Indicador de gênero</label>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="indicadorGeneroNao" id="indicadorGeneroNao"
                                value="false" [(ngModel)]="categoria.indicadorGenero">
                            <label class="form-check-label" for="indicadorGeneroNao">
                                Não
                            </label>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="indicadorGeneroSim" id="indicadorGeneroSim"
                                value="true" [(ngModel)]="categoria.indicadorGenero">
                            <label class="form-check-label" for="indicadorGeneroSim">
                                Sim
                            </label>
                        </div>
                    </div>
                </div>
                <button class="btn btn-dark">Salvar</button>
            </form>
        </div>
        <div class="col-sm" style="max-height: 200px; overflow: auto; ">
            <ul>
                <span (click)="buscarPorId(cat)" *ngFor="let cat of categorias">
                    <li [ngClass]="{'active': categoriaSelecionada == cat}">
                        {{cat.categoria}}
                    </li>
                </span>
            </ul>
        </div>
    </div>
    <div class="row" *ngIf="categoriaSelecionada != undefined" style="margin-top: 10px">
        <div class="col-sm">
            <form (submit)="salvarSubCategoria()">
                <div class="form-group">
                    <label for="subcategoria" class="col-form-label">Subategoria</label>
                    <input class="form-control" type="text" name="subcategoria" id="subcategoria" [(ngModel)]="subcategoria.subcategoria">
                </div>
                <button class="btn btn-dark">Salvar</button>
            </form>
        </div>
        <div class="col-sm" style="max-height: 200px; overflow: auto; ">
            <ul>
                <li>{{categoria.categoria}}</li>
                <span (click)="buscarPorId(cat)" *ngFor="let subCat of categoria.subcategoria">
                    <li [ngClass]="{'active': categoriaSelecionada == cat}">
                        {{subCat.subcategoria}}
                    </li>
                </span>
            </ul>
        </div>
    </div>
</div>