.centralizado {margin-top: 10%;}
.form-login{}
.form-head{padding-top: 20px;  background-color: #434458}
.form-head img{margin: 0 auto; display: flex;}
.form-boddy{padding: 0 30px 30px 30px;  background-color: #434458}